# docker-compose.yml
services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: cinema
      # POSTGRES_PASSWORD: secure_password
      POSTGRES_DB: cinema
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: pgadmin_password
      PGADMIN_CONFIG_AUTHENTICATION_SOURCES: "['internal']"
      PGADMIN_CONFIG_ALLOW_SAVE_PASSWORD: "True"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "1234:1234"
    volumes:
      - ./pgadmin/servers.json:/pgadmin4/servers.json
    depends_on:
      - postgres
    restart: unless-stopped

  app:
    container_name: gomovie_app
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgres://cinema@postgres:5432/cinema?sslmode=disable
    env_file:
      - ./.env
    restart: unless-stopped

volumes:
  postgres_data: