body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34495e;
}

.container {
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 2rem;
    background-color: #ecf0f1;
    padding: 10px;
    margin: 20px 0;
    border: 5px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34495e;
}

.container {
    max-width: 95%;
    margin: 20px auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 2rem;
    margin: 20px 0;
}

.movies-table {
    width: 99%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    table-layout: auto;
    border: 2px solid #2c3e50;
    border-radius: 8px;
    box-shadow: 0 6px 8px rgb(36, 36, 36);
}

.movies-table th,
.movies-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}



.movies-table th {
    background-color: #2c3e50;
    color: #ecf0f1;
}



/*
.movies-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.movies-table tr:hover {
    background-color: #dcdcdc;
}
*/
.movies-table a {
    text-decoration: none;
    color: #007BFF;
}

.movies-table a:hover {
    color: #0056b3;
    text-decoration: underline;
}

th:hover {
    background-color: #007BFF;
}

.movies-table td:first-child {
    text-align: left;
    padding-left: 30px;
    width: auto;
}

.movies-table td:nth-child(4) {
    text-align: left;
    padding-left: 30px;
}

.watched {
    background-color: #c3ffc3;
}

.not-watched {
    background-color: #ffc2c2;
}

.nil-entry {
    background-color: #f0f8ff;
}

.movies-table td:nth-child(5) {
    max-width: 150px;
}

.movies-table td:nth-child(6) {
    max-width: 150px;

}

.movies-table td:nth-child(7) {
    max-width: 150px;
}

.movies-table th:nth-child(5) {
    max-width: 150px;
}

.movies-table th:nth-child(6) {
    max-width: 150px;

}

.movies-table th:nth-child(7) {
    max-width: 150px;
}

/*
.watchcheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-bottom: 20px;
}
*/
.stats-link {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #ecf0f1;
    border: 2px solid #34495e;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 15px;
}

.stats-link:hover {
    background-color: #3498db;
    color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.delete-button {
    padding: 3px 6px;
    font-size: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.delete-button:hover {
    background-color: #c0392b; /* Darker red on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.delete-button:active {
    background-color: #a93226; /* Even darker red when clicked */
    transform: scale(0.95); /* Slight shrink effect on click */
}
