body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34495e;
}

.container {
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 2rem;
    background-color: #ecf0f1;
    padding: 10px;
    margin: 20px 0;
    border: 5px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.movie-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.movie-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-card img {
    width: 100%;
    height: auto;
}

.movie-info {
    padding: 10px;
    text-align: center;
}

.movie-info h2 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.movie-info p {
    margin: 5px 0;
    color: #666;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34495e;
}

.container {
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 2rem;
    margin: 20px 0;
}

.movies-table {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.movies-table th, .movies-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.movies-table th {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.movies-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.movies-table tr:hover {
    background-color: #dcdcdc;
}

.movies-table a {
    text-decoration: none;
    color: #007BFF;
}

.movies-table a:hover {
    color: #0056b3;
    text-decoration: underline;
}

th:hover {
    background-color: #007BFF;
}

.movies-table td:first-child {
    text-align: left;
    padding-left: 30px;
}

.ratings .imdb {
    color: #f1c40f;
}

.ratings .rotten-tomatoes {
    color: #e74c3c;
}

.ratings .metacritic {
    color: #2ecc71;
}
