<!doctype html>
    <html lang="en">
    <head>
        <title>Index GoTo</title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="/static/css/goto.css">
    </head>
    <body>
        <h1>Index {{ .Name }}</h1>
    </body>
</html>