<!doctype html>
<html lang="en">
<head>
    <title>{{.Movie.Title}} ({{.Movie.Year}}) - GoTo</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/info.css">
    <link rel="stylesheet" href="/static/css/bar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="top-bar">
    <a href="/overview"><img src="/static/images/gopher.png" alt="Logo"></a>
    <div class="info">
        <b>{{.Movie.Title}} ({{.Movie.Year}})</b>
        <span><a href="https://www.imdb.com/de/title/{{ .Movie.ImdbID }}"><i>ID:{{.Movie.ImdbID}}</i></a></span>
    </div>
</div>

<div class="container">
    <img src="{{.Movie.Poster}}" alt="Movie Poster">
    <div class="content-box">
        <div class="info-box">
            <h2>Info</h2>
            <ul class="details-list">
                <li><b>Genres:</b> {{ .Movie.Genre }}</li>
                <li><b>Actors:</b> {{ .Movie.Actors }}</li>
                <li><b>Director:</b> {{ .Movie.Director }}</li>
                <li><b>Runtime:</b> {{ .Movie.Runtime }}</li>
                <li><b>Rated:</b> {{ .Movie.Rated }}</li>
                <li><b>Released on:</b> {{ .Movie.Released }}</li>
                <li class="plot"><b>Plot:</b> {{ .Movie.Plot }}</li>
            </ul>
        </div>

        <div class="center-box">
            <div class="ratings-box">
                <h2>Ratings</h2>
                <ul>
                    {{range $val := .Movie.Ratings}}
                        <li><b>{{ $val.Source }}:</b> {{ $val.Value }}</li>
                    {{end}}
                </ul>
            </div>

            <div class="feedback-box">
                <h2>Notes</h2>
                <ul id="feedback-list">
                    {{range $val := .Entries}}
                    <li><b>{{ $val.Name }}
                        {{if $val.Watched}}
                            (&#10003)
                        {{else}}
                            (&#10006)
                        {{end}}:</b> <i>"{{ printf "%s" $val.Comment }}"</i></li>
                    {{end}}
                </ul>
            </div>
        </div>

        <div class="form-box">
            <h2>Your Feedback</h2>
            <form action="/films/{{ .Movie.ImdbID }}" method="POST">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="watched">Did you watch the movie?</label>
                <input type="checkbox" id="watched" name="watched">

                <label for="comment">Your Comment:</label>
                <textarea id="comment" name="comment" rows="4" required></textarea>

                <button type="submit">Submit Feedback</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>
