<label class="watchcheckbox">
    <input type="checkbox" id="filterNotWatched"> Show only unwatched
</label>

<table class="movies-table" id="moviesTable">
    <thead>
        <tr>
            <th onclick="sortTable(0)">Title &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(1)">Year &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(2)">Runtime &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(3)">Genres &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(4)">IMDb &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(5)">RT &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(6)">Metacritic &#x25B2;&#x25BC;</th>
        </tr>
    </thead>
    <tbody>
        {{range $val := .Movies}}
        <tr class="{{if and $val.Entry (index $val.Entry 0).Watched}}watched{{else}}not-watched{{end}}">
            <td class="title-left"><a href="/films/{{$val.Movie.ImdbID}}">{{ $val.Movie.Title }}</a></td>
            <td>{{ $val.Movie.Year }}</td>
            <td>{{ $val.Movie.Runtime }}</td>
            <td class="title-left">{{ $val.Movie.Genre }}</td>

            {{ $imdbRating := "N/A" }}
            {{ $rtRating := "N/A" }}
            {{ $metacriticRating := "N/A" }}

            {{ range $rating := $val.Movie.Ratings }}
                {{ if eq $rating.Source "Internet Movie Database" }}
                    {{ $imdbRating = $rating.Value }}
                {{ else if eq $rating.Source "Rotten Tomatoes" }}
                    {{ $rtRating = $rating.Value }}
                {{ else if eq $rating.Source "Metacritic" }}
                    {{ $metacriticRating = $rating.Value }}
                {{ end }}
            {{ end }}

            <td>{{ $imdbRating }}</td>
            <td>{{ $rtRating }}</td>
            <td>{{ $metacriticRating }}</td>
        </tr>
        {{end}}
    </tbody>
</table>
