<div
    style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; margin-left: 15px;">
    <label class="watchcheckbox">
        <input type="checkbox" id="filterNotWatched"> Show only unwatched
    </label>
    <div style="display: flex; gap: 15px; font-size: 0.9rem; margin-right: 15px;">
        <span><strong>Legend:</strong></span>
        <span style="background-color: #ffc2c2; padding: 0px 5px; border-radius: 3px;">Unwatched</span>
        <span style="background-color: #c3ffc3; padding: 0px 5px; border-radius: 3px;">Watched</span>
        <span style="background-color: #f0f8ff; padding: 0px 5px; border-radius: 3px;">No Entry</span>
    </div>
</div>
<table class="movies-table" id="moviesTable">
    <thead>
        <tr>
            <th onclick="sortTable(0)">Title &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(1)">Year &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(2)">Runtime &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(3)">Genres &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(4)">IMDb &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(5)">RT &#x25B2;&#x25BC;</th>
            <th onclick="sortTable(6)">Metacritic &#x25B2;&#x25BC;</th>
        </tr>
    </thead>
    <tbody>
        {{range $val := .Movies}}
        <tr
            class="{{if not $val.Entry}}nil-entry{{else if (index $val.Entry 0).Watched}}watched{{else}}not-watched{{end}}">
            <td class="title-left"><a href="/films/{{$val.Movie.ImdbID}}">{{ $val.Movie.Title }}</a>
                {{ if not $val.Entry }}
                <button class="delete-button" data-imdbid="{{ $val.Movie.ImdbID }}">Delete</button>
                {{ end }}
            </td>
            <td>{{ $val.Movie.Year }}</td>
            <td>{{ $val.Movie.Runtime }}</td>
            <td class="title-left">{{ $val.Movie.Genre }}</td>

            {{ $imdbRating := "N/A" }}
            {{ $rtRating := "N/A" }}
            {{ $metacriticRating := "N/A" }}

            {{ range $rating := $val.Movie.Ratings }}
            {{ if eq $rating.Source "Internet Movie Database" }}
            {{ $imdbRating = $rating.Value }}
            {{ else if eq $rating.Source "Rotten Tomatoes" }}
            {{ $rtRating = $rating.Value }}
            {{ else if eq $rating.Source "Metacritic" }}
            {{ $metacriticRating = $rating.Value }}
            {{ end }}
            {{ end }}

            <td>{{ $imdbRating }}</td>
            <td>{{ $rtRating }}</td>
            <td>{{ $metacriticRating }}</td>
        </tr>
        {{end}}
    </tbody>
</table>
