<!doctype html>
<html lang="en">
<head>
    <title>Movies Overview - GoTo</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/overview.css">
    <link rel="stylesheet" href="/static/css/bar.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="/static/scripts/golist.js"></script>
    <script src="/static/scripts/table.js"></script>
</head>
<body>
    <div class="top-bar">
        <a href="/overview"><img src="/static/images/gopher.png" alt="Logo"></a>
        <form id="menu-search-bar" class="menu-search-bar">
            <input type="text" id="search-input" name="q" placeholder="Input IMDb ID...">
            <button type="submit" id="submit-button">Go To!</button>
        </form>
        <div class="info">
            <b>Movies Overview</b>
        </div>
    </div>

    {{ template "error.html" . }}

    <div class="container">
        <form action="/search" method="GET" class="search-bar">
            <input type="text" name="query" placeholder="Search movies..." required>
            <button type="submit">Search</button>
        </form>
    <div class="movies-grid">
        {{ template "movie-grid.html" . }}
    </div>
    </div>

</body>
</html>
