<!doctype html>
<html lang="en">

<head>
    <title>Movies Overview - GoMovie</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/overview.css">
    <link rel="stylesheet" href="/static/css/bar.css">
    <link rel="stylesheet" href="/static/css/stats.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="/static/scripts/gomovie.js"></script>
    <script src="/static/scripts/table.js"></script>
</head>

<body>
    <div class="top-bar">
        <div class="left-container">
            <a href="/overview"><img src="/static/images/gopher.png" alt="Logo"></a>
            <form id="menu-search-bar" class="menu-search-bar">
                <input type="text" id="search-input" name="q" placeholder="Input IMDb ID...">
                <button type="submit" id="submit-button">Go To!</button>
            </form>
        </div>
        <div class="info">
            <b>Movies Overview</b>
        </div>
    </div>

    {{ template "error.html" . }}

    {{ if .WatchStats }}
    <div class="container">
        <div class="stats-container">
            <h2>Watch Stats</h2>
            <ul>
                <li><b>Total Movies: </b>{{ .WatchStats.TotalMovies }} </li>
                <li><b>Watched: </b> {{ .WatchStats.NumOfWatched }} </li>
                <li><b>Unwatched: </b> {{ .WatchStats.NumOfUnwatched }} </li>
                <li><b>Ratio Watched/Unwatched: </b> <span class="stats-percentage">{{ perc .WatchStats.NumOfWatched
                        .WatchStats.TotalMovies }}%</span></li>
            </ul>
        </div>
    </div>
    {{end}}
</body>

</html>
